---
import { getCollection } from "astro:content";
import GlobalLayout from "../layouts/GlobalLayout.astro";
const allPosts = await getCollection("blog");
---

<GlobalLayout title="ブログ">
  <p>一覧</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</GlobalLayout>
