---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <p>cloudflareへのデプロイ方法</p>
    <a href="https://docs.astro.build/ja/guides/deploy/cloudflare/">リンク</a>
  </body>
</html>
