---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="ホーム">
  <h1 class="text-4xl font-bold mb-4">Astro</h1>
  <p class="text-lg mb-4">cloudflareへのデプロイ方法</p>
  <a
    href="https://docs.astro.build/ja/guides/deploy/cloudflare/"
    class="text-blue-500 hover:underline">リンク</a
  >
  <a href="/blog" class="text-blue-500 hover:underline ml-4">ブログ</a>
</GlobalLayout>
