---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="ホーム">
  <h1 class="text-4xl font-bold mb-4">Astro</h1>
  <a
    href="https://docs.astro.build/ja/guides/deploy/cloudflare/"
    class="text-blue-500 hover:underline">cloudflareへのデプロイ方法</a
  >
</GlobalLayout>
