---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="ホーム">
  <h1>Astro</h1>
  <p>cloudflareへのデプロイ方法</p>
  <a href="https://docs.astro.build/ja/guides/deploy/cloudflare/">リンク</a>
  <a href="/blog">ブログ</a>
</GlobalLayout>
