---
import GlobalLayout from "@layouts/GlobalLayout.astro";
import ListLinks from "../components/ListLinks.astro";

const here = "/samples/";

const links = [{ title: "tailwind", link: here + "tailwind" }];
---

<GlobalLayout title="サンプル集">
  <h1>サンプル置き場</h1>
  <ListLinks links={links} />
</GlobalLayout>
