---

---

<nav class="bg-blue-500 p-4">
    <div class="flex items-center justify-between">
      <ul class="flex space-x-4">
        <li>
          <a href="/" class="text-white hover:underline">ホーム</a>
        </li>
        <li>
          <a href="/blog" class="text-white hover:underline">ブログ</a>
        </li>
        <li>
          <a href="/samples" class="text-white hover:underline">サンプル集</a>
        </li>
      </ul>
    </div>
  </nav>
