---
import OthelloGame from "@components/othello/OthelloGame";
import GlobalLayout from "@layouts/GlobalLayout.astro";
---

<GlobalLayout title="ゲーム">
  <h2 class="text-3xl bg-gray-300 p-2">オセロゲーム</h2>
  <OthelloGame client:load />
</GlobalLayout>
