---
const { title } = Astro.props;
import Body from "../components/Body.astro";
import Head from "../components/Head.astro";
---

<html lang="ja">
  <Head title={title} />
  <Body>
    <slot />
  </Body>
</html>
